.cabecalho{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(114, 221, 110);
}
.titulo {
    font-size: 3rem;
    color: rgb(15, 160, 204);
}

.subtitulo{
    font-size: 2rem;
}
